@import '_general';
@import '_global_wars';

@include font-face('Akkurat LL Cyrillic Regular', '../fonts/Akkurat-Regular');
@include font-face('Akkurat LL Cyrillic Light', '../fonts/Akkurat-Light');
@include font-face('Akkurat LL Cyrillic Bold', '../fonts/Akkurat-Bold');
@include font-face('Akkurat Mono LL', '../fonts/AkkuratMono-Regular');

body {
    color: #003548;
    font-family: "Akkurat LL Cyrillic Regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    header {
        background-color: #ffffff;
        padding-top: 65px;
        padding-bottom: 25px;
        border-bottom: #CDDC39 solid 2px;
        .columns {
            justify-content: space-between;
        }
        .top-row {
            justify-content: space-between;
            padding-top: 25px;
            margin-bottom: 18px;
            align-items: end;
            li {
                display: inline-flex;
            }
            .lenguage-wrap {
                padding-top: 18px;
                padding-left: 14px;
            }
            .social-wrap {
                display: flex;
                .social-link {
                    margin-right: 25px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        display: inline-flex;
                        width: 39px;
                        height: 39px;
                        border-radius: 50%;
                        border: $blue-color solid 2px;
                        align-items: center;
                        justify-content: center;
                        transition: 0.2s;
                        svg {
                            path {
                                transition: 0.2s;
                            }
                        }
                        &:hover {
                            border: $purple-color solid 2px;
                            svg {
                                path {
                                    fill: $purple-color;
                                    transition: 0.2s;
                                }
                            }
                        }
                    }
                    &.facebook-link {
                        &:hover {
                            svg {
                                path {
                                    fill: transparent;
                                    stroke: $purple-color;
                                    transition: 0.2s;
                                }
                            }
                        }
                    }
                }
            }
            .lenguage-wrap {
                li {
                    margin-right: 42px;
                    &:last-child {
                        margin-right: 0px;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 58px;
                        height: 20px;
                        border-radius: 25.422px;
                        border: 1px solid $blue-color;
                        color: $blue-color;
                        font-family: "Akkurat LL Cyrillic Bold";
                        font-size: 7px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.7px;
                        text-transform: uppercase;
                        padding-top: 3px;
                        &.active {
                            background-color: $blue-color;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
        .main-navigation {
            li {
                list-style: none;
                display: inline-flex;
                margin: 0px 8px;
                &:last-child {
                    margin-right: 0px;
                }
                &:first-child {
                    margin-left: 0px;
                }
            }
            a {
                display: inline-block;
                color: $main-color;
                font-family: "Akkurat Mono LL";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                transition: 0.2s;
                padding: 0px 10px;
                position: relative;
                border-bottom: 2px solid transparent;
                &:hover {
                    color: $blue-color;
                    border-bottom: 2px solid $green-color;
                    transition: 0.2s;
                }
                &.purpure-link {
                    color: $purple-color;
                }
                &.icon-link {
                    padding-right: 34px;
                    &::after {
                        @include after-content(22px, 22px);
                        position: absolute;
                        right: 0px;
                        top: -2px;
                        background-color: $purple-color;
                        background-image: url(../images/icon-square-arrow.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    main {
        section {
            position: relative;
            overflow: hidden;
            &.hero {
                min-height: 597px;
                padding-top: 110px;
                background-color: $blue-color;
                color: #fff;
                .background-image {
                    width: 770px;
                    height: 454px;
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .top-row {
                    margin-bottom: 55px;
                    .left-column {
                        width: 543px;
                    }
                    .right-column {
                        width: 380px;
                        padding-left: 105px;
                        position: relative;
                        margin-left: 27px;
                        &::before {
                           @include before-content(73px, 17px);
                           background-image: url(../images/icon-arrow.svg);
                           background-position: center;
                           background-repeat: no-repeat;
                           top: 5px;
                           left: 0px; 
                        }
                        .sub-title {
                            font-family: "Akkurat Mono LL";
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 30px;
                            text-transform: uppercase; 
                        }
                    }
                    h1 {
                        width: 543px;
                        font-family: "Akkurat LL Cyrillic Bold";
                        font-size: 111.364px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 12px;
                        text-transform: uppercase;
                        -webkit-text-stroke: 5.56px;
                        line-height: 135px;
                        margin-top: -6px;
                    }
                }
                .bottom-row {
                    position: relative;
                    padding-left: 105px;
                    &::before {
                        @include before-content(73px, 17px);
                        background-image: url(../images/icon-arrow.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        top: 17px;
                        left: 0px; 
                    }
                    .sub-title {
                        width: 525px;
                        font-family: "Akkurat Mono LL";
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 40px;
                        text-transform: uppercase;
                        position: relative;
                        &.decorate-title {
                            &::before {
                            @include before-content(459px, 20px);
                            background-image: url(../images/home-hero-title-bg.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                                bottom: -12px;
                                left: 19px;
                            }
                        }
                    }
                }
            }
            &.who-we-are {
                background-color: $main-color;
                min-height: 273px;
                padding-top: 57px;
                padding-bottom: 38px;
                .background-image {
                    width: 348px;
                    height: 184px;
                    position: absolute;
                    right: 0px;
                    bottom: -6px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .section-title {
                    font-family: "Akkurat LL Cyrillic Bold";
                    font-size: 70px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 10.5px;
                    text-transform: uppercase;
                     -webkit-text-stroke: 3px;
                     color: #fff;
                     margin-bottom: 42px;
                }
                .content-link {
                    a {
                        display: inline-flex;
                        align-items: center;
                        padding-left: 108px;
                        padding-right: 152px;
                        background-color: $green-color;
                        border-radius: 35px;
                        height: 65px;
                        position: relative;
                        font-family: "Akkurat LL Cyrillic Bold";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        text-transform: uppercase;
                        color: $main-color;
                        padding-top: 6px;
                        letter-spacing: 0.5px;
                        &::after {
                            @include after-content(48px, 48px);
                            background-color: $main-color;
                            border-radius: 50%;
                            background-image: url(../images/icon-square-arrow-green.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                            top: 8px;
                            right: 11px;
                            background-size: 20px 20px;
                        }
                    }
                }
            }
            &.reports {
                padding-top: 64px;
                padding-bottom: 70px;
                .columns {
                    .column {
                        position: relative;
                        .number {
                            font-family: "Akkurat Mono LL";
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 2px;
                            text-transform: uppercase;
                            color: $blue-color;
                            position: absolute;
                            top: 7px;
                        }
                        .column-title {
                            font-family: "Akkurat LL Cyrillic Bold";
                            font-size: 60px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 68px;
                            letter-spacing: 7.5px;
                            text-transform: uppercase;
                            padding-left: 102px;
                            margin-bottom: 37px;
                        }
                        .content {
                            line-height: 29px;
                        }
                    }
                    &.top-row {
                        margin-bottom: 102px;
                        .column {
                            width: 504px;
                            &.left-column {
                                margin-right: 132px;
                            }
                        }
                    }
                    &.bottom-row {
                        margin-bottom: 32px;
                        .left-column {
                            width: 320px;
                            margin-right: 204px;
                            padding-top: 6px;
                        }
                        .right-column {
                            width: 410px;
                        }
                        h3 {
                            font-family: "Akkurat LL Cyrillic Bold";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: 1.8px;
                            text-transform: uppercase;
                            margin-bottom: 50px;
                        }
                        .content {
                            line-height: 26px;
                        }
                        strong {
                            font-family: "Akkurat LL Cyrillic Bold";
                            font-weight: 700;
                        }
                        .section-title {
                            font-family: "Akkurat LL Cyrillic Bold";
                            font-size: 50px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 58px;
                            letter-spacing: 7.5px;
                            text-transform: uppercase;
                            -webkit-text-stroke: 3px;
                            color: $purple-color;
                        }
                    }
                } 
                .facts-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    left: 104px;
                    &::before{
                        content: '';
                        width: 394px;
                    }
                    .fact-item {
                        width: 394px;
                        margin-bottom: 50px;
                        margin-top: 30px;
                        margin-left: 28px;
                        &:nth-child(3n){
                            margin-left: 0px;
                        }
                        .title {
                            font-family: "Akkurat LL Cyrillic Bold";
                            font-size: 80px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            letter-spacing: 9px;
                            text-transform: uppercase;
                            position: relative;
                            margin-bottom: 24px;
                            &::before {
                                content: '';
                                width: 100%;
                                height: 1px;
                                position: absolute;
                                bottom: 0px;
                                left: 0px;
                                background-color: $purple-color;
                            }
                        }
                        .content {
                            line-height: 26px; /* 100% */
                            letter-spacing: 1px;
                            width: 300px;
                            padding-left: 5px;
                        }
                    }
                }     
                .report-wrap {
                    border-radius: 13px;
                    border: 3px solid $purple-color;
                    background: #FFF;
                    padding: 57px 55px 35px 104px;
                    .left-column {
                        width: 405px;
                        margin-right: 125px;
                    }
                    .right-column {
                        width: 545px;
                    }
                    .title {
                        font-family: "Akkurat Mono LL";
                        font-size: 43px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-transform: uppercase;
                    }
                    .report-slider {
                        display: flex;
                        margin-top: 74px;
                        .report-item {
                            width: 225px;
                            margin-right: 92px;
                            &:last-child {
                                margin-right: 0px;
                            }
                            .columns-wrap {
                                display: flex;
                                .icon-wrap {
                                    width: 50px;
                                    height: 50px;
                                    img {
                                        object-fit: cover;
                                        object-position: center;
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                .content {
                                    padding-left: 24px;
                                    padding-top: 6px;
                                    .name {
                                        font-family: "Akkurat LL Cyrillic Bold";
                                        font-size: 26.834px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 16.771px; /* 62.5% */
                                        letter-spacing: 1.342px;
                                        margin-bottom: 13px;
                                    }
                                    .meta {
                                        font-size: 16.771px;
                                        line-height: 16.771px; /* 100% */
                                        letter-spacing: 0.839px;
                                    }
                                }
                            }
                        }
                    }
                    .slider-navigation {
                        display: flex;
                        margin-top: 53px;
                        .nav-slide {
                            width: 148px;
                            height: 26px; 
                            border-radius: 32px;
                            border: 1px solid $purple-color;
                            background: #FFF;  
                            transform: 0.2s; 
                            font-size: 10px;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                            display: inline-flex;
                            align-items: center;
                            position: relative;
                            cursor: pointer;
                            &:hover {
                                background: $purple-color;
                                color: #fff;
                                transition: 0.3s;
                                background: $purple-color;
                                svg {
                                    path {
                                        fill: #fff;
                                    }
                                }
                            } 
                            &.prev-slide {
                                margin-right: 63px;
                                padding: 9px 25px 7px 68px;
                                svg {
                                    left: 8px;
                                }
                            }    
                            &.next-slide {
                                padding: 9px 8px 7px 42px;
                                svg {
                                    right: 8px;
                                }
                            }   
                            svg {
                                position: absolute;
                            }             
                        }
                    }
                }       
            }
        }

        footer {
            padding-top: 34px;
            padding-bottom: 21px;
            background-color: $blue-color;

            .footer-wrap {
                .columns {
                    justify-content: space-between;
                    .columns-wrap {
                        display: flex;
                        .center-column {
                            margin-left: 185px;
                        }
                    }
                }
                .navigation {
                    li {
                        list-style: none;
                        margin-bottom: 26px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                        a {
                            color: $main-color;
                            font-family: "Akkurat Mono LL";
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal

                        }
                    }
                }
                .footer-title {
                    color: #FFF;
                    font-family: "Akkurat LL Cyrillic Bold";
                    font-size: 58px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 4.013px;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                    -webkit-text-stroke: 1.33px;
                }
                .footer-subtitle {
                    color: #FFF;
                    font-family: "Akkurat LL Cyrillic Bold";
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.8px;
                    text-transform: uppercase;
                    position: relative;
                    &::before {
                        @include before-content(180px, 8px);
                        background-image: url(../images/social-title-bg.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        bottom: -7px;
                        left: -2px;
                    }
                }
                .social-wrap {
                    display: flex;
                    margin-top: 32px;
                    .social-link {
                        margin-right: 25px;
                        a {
                            display: flex;
                            width: 52px;
                            height: 52px;  
                            border-radius: 50%;
                            border: #fff solid 1px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;   
                            svg {
                                width: 32px;
                                height: 32px;
                            }  
                        }
                        &.facebook-link {
                            a {
                                padding-right: 5px;
                            }
                        }
                    }
                }
                .logo-wrap {
                    padding-top: 25px;
                }
            }
        }
    }
}